@model OpenFlowCRMModels.Models.Partite

@{
    ViewData["Title"] = "Prduction";
}

<h1>Create</h1>

<h4>Partite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PezziAlCarico" class="control-label"></label>
                <input asp-for="PezziAlCarico" class="form-control" />
                <span asp-validation-for="PezziAlCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ncarichi" class="control-label"></label>
                <input asp-for="Ncarichi" class="form-control" />
                <span asp-validation-for="Ncarichi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsegna" class="control-label"></label>
                <input asp-for="DataConsegna" class="form-control" />
                <span asp-validation-for="DataConsegna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modello" class="control-label"></label>
                <select asp-for="Modello" class ="form-control" asp-items="ViewBag.Modello"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ordine" class="control-label"></label>
                <select asp-for="Ordine" class ="form-control" asp-items="ViewBag.Ordine"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stato" class="control-label"></label>
                <select asp-for="Stato" class="form-control"></select>
                <span asp-validation-for="Stato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create"  class=" btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
