@model OpenFlowCRMModels.Models.ComponentiMerce

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ComponentiMerce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdcomponenteMerce" />
            <div class="form-group">
                <label asp-for="TipoComponente" class="control-label"></label>
                <input asp-for="TipoComponente" class="form-control" />
                <span asp-validation-for="TipoComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialeComponente" class="control-label"></label>
                <input asp-for="MaterialeComponente" class="form-control" />
                <span asp-validation-for="MaterialeComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunghezza" class="control-label"></label>
                <input asp-for="Lunghezza" class="form-control" />
                <span asp-validation-for="Lunghezza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Larghezza" class="control-label"></label>
                <input asp-for="Larghezza" class="form-control" />
                <span asp-validation-for="Larghezza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altezza" class="control-label"></label>
                <input asp-for="Altezza" class="form-control" />
                <span asp-validation-for="Altezza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
